.icon {
    text-align: center;
    display: inline-block;
    padding-right: 4%;
}

.iconImage {
    display: block;
    margin: 0 auto;
}

.iconSpan {
    display: block;
}

@media only screen and (max-width: 768px) {
    .icon {
        padding-right: 6%;
    }
}